name: revolve
description: "A Flutter package for creating orbital animations with multiple rings and children that revolve indefinitely."
version: 0.0.1
homepage: https://github.com/m7mdra/revolve

environment:
  sdk: ^3.10.3
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

